@model IEnumerable<KYLWeb.Models.SceneViewModel>


<h1>Scenes in @ViewBag.Title</h1>

<p>
    <a asp-action="Create">Create a new scene</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Open Scene", "Lines", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
